.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__key {
    flex: 0 0 5%;
    margin: 5px;
    font-size: 20px;
    background-color: $color--grey;
    color: $color--white;
    border: none;
    padding: 5px;

    @media screen and (min-width: $tablet-min) {
      flex: 0 0 10%;
      padding: 15px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $color--highlight;
    }

    &[disabled] {
      background-color: $color--mid-grey;
    }
  }
}
