.result {
  $block: &;

  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: center;

  &__text {
    margin-bottom: 30px;
    font-size: 20px;
  }

  &__button {
    background-color: $color--grey;
    color: $color--white;
    border: none;
    font-size: 20px;
    padding: 20px;

    &:hover,
    &:focus {
      background-color: $color--highlight;
      cursor: pointer;
    }
  }

  &--lost {
    #{$block}__text {
      color: $color--red;
    }
  }

  &--won {
    #{$block}__text {
      color: $color--green;
    }
  }
}
